<h1>Products</h1>
<table class="table">
  <thead>
    <tr>
  <th width = "20%"> Id </th>
  <th> Title </th>
  <th> Price </th>
  <th colspan="3"></th>
   </tr>
    </thead>
  <tbody>
<% @products.each do |product| %>
    <tr>
<td> <%= product.id %> </td>
<td> <%= product.title %> </td>
<td> <%= product.price %> </td>
<td><%= link_to('Read more', product_path(product)) %> </td>
<th colspan="3"></th>
    </tr>
<% end %>
</tbody>
</table>
<br>
<%= link_to'Create', new_product_path %> 
</br>